#wrapper{
	margin: 0 auto;
    max-width: 1200px;
}
.balance{
    height: 8em;
}

.form-check{
	padding: 2px;
}

.col{
	display: inline-block;
}

.modal-body{
	max-height: 800px;
}

.warningLink{
	text-decoration: none !important;
	color:rgb(31, 31, 31);
}

.warningLink:hover{
	color:black;
}

.modal-wrap{
	background: rgba(255,255,255,.85);
}

.bugdet-modal{
	background: #fff;
	-moz-box-shadow: #ebebeb 0 0 20px 5px;
    -webkit-box-shadow: #ebebeb 0 0 20px 5px;
    box-shadow: #ebebeb 0 0 20px 5px;
}

.modal-content{
	border: none;
}

.bugdet-modal-footer{
	background-color: black;
}

.buget-radius{
	border-radius: 3px;
}

.transparent{
	background: transparent;
	border: none;
}
.primary-color{
	background-color:#6f72dc;
}

.primary-color:hover{
	background-color:#5053a2;
}